<?xml version="1.0" encoding="utf-8" ?>
<widget id="cl.brandon.curaomanejomejor" version="2.0"
		xmlns="http://www.w3.org/ns/widgets"
		xmlns:gap="http://phonegap.com/ns/1.0"
		xmlns:android="http://schemas.android.com/apk/res/android">

	<!-- INFO APP -->
	<name>¿Curao Manejo Mejor?</name>
	<description>TomoElControl.cl - ¿Curao Manejo Mejor?</description>
	<author email="desarrollo@brandon.cl" href="http://brandon.cl">BrandOn | Inconsciente Digital</author>

	<!-- GLOBAL -->
	<preference name="phonegap-version" value="3.6.3" />
	<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="true" />
	<preference name="permissions" value="none" />

	<!-- DEBUG -->
	<!--
	<feature name="debug-server" required="true">
		<param name="domain" value="http://192.168.2.199:8080" />
		<param name="key" value="anonymous" />
	</feature>
	-->

	<!-- PLATAFORMAS -->
	<gap:platform name="android" />
	<!--<gap:platform name="ios" />-->

	<!-- ANDROID -->
	<preference name="android-minSdkVersion" value="16" />
	<preference name="android-targetSdkVersion" value="21" />
	<supports-screens
		android:anyDensity="true"
		android:resizeable="true"
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="false"
		android:xlargeScreens="false" />
	<preference name="android-installLocation" value="preferExternal" />
	<preference name="android-licenseKey" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAjFYyV8byERHQRol7YORYTAa/gncEK+cXs6WST0varSayUDdjM/qzmWA26MN3Z3MYuX6M42CQ7Cwkbr+XJ0wJBPpqvUV5JKC7/rCOfSXXBVfyzRoPgN0H59M7skLeqbwIgqR1EbemQvajcsmLPAK9+g2Sm7fJjuH+FlSFLZHQ6vjmUOoSqSzaNNk2TL4vugYXH5S2Mizf2UQAC543arC7TkszNcTwuA9W3iixAKmj62MyeeVwvKUBJ/bXrR20R4weTwht3+X9R9/30UVIs9p4V7okoXyNAgSuyhklKqYMySlWJW5fEP50u06q3pxVAsHelZo0H6rPZ44wzGccR8uxnwIDAQAB" />

	<!-- IOS -->
	<!--
	<preference name="target-device" value="handset" />
	<preference name="prerendered-icon" value="true" />
	<preference name="detect-data-types" value="false" />
	<preference name="exit-on-suspend" value="true" />
	<preference name="deployment-target" value="8.0" />
	<preference name="ios-statusbarstyle" value="black-opaque" />
	<gap:config-file platform="ios" parent="UIStatusBarHidden"><true/></gap:config-file>
	<gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance"><false/></gap:config-file>
	-->

	<!-- PLUGINS -->
	<feature name="http://api.phonegap.com/1.0/network"/>
	<gap:plugin name="org.apache.cordova.console" version="0.2.11" />
	<gap:plugin name="org.apache.cordova.device" version="0.2.12" />
	<gap:plugin name="org.apache.cordova.dialogs" version="0.2.10" />
	<gap:plugin name="org.apache.cordova.inappbrowser" version="0.5.2" />
	<gap:plugin name="org.apache.cordova.media" version="0.2.13" />
	<gap:plugin name="org.apache.cordova.splashscreen" version="0.3.4" />
	<gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.9.0">
		<param name="APP_ID" value="1434579543483455" />
		<param name="APP_NAME" value="¿Curao Manejo Mejor?" />
	</gap:plugin>

	<!-- ICONOS -->
	<icon src="icon.png" />
	<icon src="icon-128.png" width="128" height="128" />
	<icon src="icon-256.png" width="256" height="256" gap:role="default" />

	<!-- SPLASH SCREENS
	<gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="res/screen/android/screen-ldpi-portrait.png" />
	<gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="res/screen/android/screen-mdpi-portrait.png" />
	<gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="res/screen/android/screen-hdpi-portrait.png" />
	<gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="res/screen/android/screen-xhdpi-portrait.png" />
	-->

	<!-- ACCESOS -->
	<access origin="*" />
</widget>
